[user]
  name = Matt Olson
{{- if eq .chezmoi.hostname "Sierra" }}
  email = matt@mattolson.com
{{- else }}
  email = matt.olson@workos.com
{{- end }}
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[credential]
  helper = osxkeychain
[github]
  user = mattolson
[init]
  defaultBranch = main
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
